// =============================================================================
// Sheet to define color variables
// =============================================================================

// Colors
$white-color: #fff;
$content-text: #081523;
$hero-eyebrow-text: #01fdab;
$white-panel-eyebrow-text: #0262f0;
$menu-bg: #010203;
$footer-bg: #010203;
