// =============================================================================
// Sheet to desfine breakpoints and spacing
// =============================================================================

// Margin and Padding spacing
$container-width: 1440px;
$base-gutter: 15px;

// Breakpoint
$breakpoint-sm: 640px;
$breakpoint-sm-mob: 768px;
$breakpoint-md: 960px;
$breakpoint-lg-tab: 1080px;
$breakpoint-lg: 1200px;
