// =============================================================================
// Sheet to define Typography variables
// =============================================================================

// Font Sizes
$hero-heading: 64px;
$content: 20px;
$buttons: 20px;
$menu-items: 28px;

$small-text-font-family: $secondary-font;
$h1-font-family: $primary-font;
$base-font-family: $primary-font;
